<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if formType == 0 %>
    <%= form.hidden_field :user_id, :value => @current_user.id %>
    <%= form.hidden_field :value, :value => 1 %>
    <%= form.hidden_field :priority, :value => 0 %>
  <% end %>

	<div class="field">
		<strong><%= form.label :"Profile Picture" %></strong>
		<%= form.file_field :picture, multiple: false, accept: 'image/*' %>
	</div>


  <div class="field">
    <strong>First Name</strong><br>
    <%= form.text_field :first %>
  </div>

  <div class="field">
    <strong>Last Name</strong><br>other users won't be able to see this<br>
    <%= form.text_field :last %>
  </div>

  <div class="field">
    <strong><%= form.label :age %></strong>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <strong>Bio</strong><br>
    <%= form.text_area :description, :cols => "80", :rows => "6" %>
  </div>

  <div class="field">
    <strong><%= form.label :song %></strong>
    <%= form.text_field :song %>
  </div>

  <div class="field">
    <strong><%= form.label :gender %></strong>
    <div class="radio" style="margin:1em">
      <span style="float:left">
        <%= form.label :gender, 'Male: ' %>
      </span>
      <span style="display:block">
        <%= form.radio_button :gender, 0 %>
      </span>
      <span style="float:left">
        <%= form.label :gender, 'Female: ' %>
      </span>
      <span style="display:block">
        <%= form.radio_button :gender, 1 %>
      </span>
      <span style="float:left">
        <%= form.label :gender, 'Non-Binary:' %>
      </span>
      <span style="display:block">
        <%= form.radio_button :gender, 2 %>
      </span>
    </div>
  </div>
  <br>
  <br>

  <div class="field">
    <strong><%= form.label :preference %></strong>
    <div class="radio" style="margin:1em">
      <span style="float:left">
        <%= form.label :preference, 'Male:'%>
      </span>
      <span style="display:block">
        <%= form.radio_button :preference, 0 %>
      </span>
      <span style="float:left">
        <%= form.label :preference, 'Female:'%>
      </span>
      <span style="display:block">
        <%= form.radio_button :preference, 1 %>
      </span>
      <span style="float:left">
        <%= form.label :preference, 'Everyone:' %>
      </span>
      <span style="display:block">
        <%= form.radio_button :preference, 2 %>
      </span>
    </div>
  </div>
  <br>
  <br>

  <div class="field">
    <strong>Message to show on successful match</strong><br>
    include some way to contact you<br>
    <%= form.text_area :contact_info, :cols => "80", :rows => "6" %>
  </div>

  <div class="field">
    <strong><%= form.label :active %></strong>
    <div class="radio" style="margin:1em">
      <span style="float:left">
        <%= form.label :active, 'TRUE:'%>
      </span>
      <span style="display:block">
        <%= form.radio_button :active, 'true' %>
      </span>
      <span style="float:left">
        <%= form.label :active, 'FALSE:'%>
      </span>
      <span style="display:block">
        <%= form.radio_button :active, 'false' %>
      </span>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
