<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if formType == 0 %>
    <%= form.hidden_field :user_id, :value => @current_user.id %>
    <%= form.hidden_field :value, :value => 1 %>
    <%= form.hidden_field :priority, :value => 0 %>
  <% end %>

  <div class="field">
    <strong><%= form.label :first %></strong>
    <%= form.text_field :first %>
  </div>

  <div class="field">
    <strong><%= form.label :last %></strong>
    <%= form.text_field :last %>
  </div>

  <div class="field">
    <strong><%= form.label :description %></strong>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <strong><%= form.label :song %></strong>
    <%= form.text_field :song %>
  </div>

  <div class="field">
    <strong><%= form.label :gender %></strong>
    <div class="radio" style="margin:1em">
      <span style="float:left">
        <%= form.label :gender, 'Male: ' %>
      </span>
      <span style="display:block">
        <%= form.radio_button :gender, 0 %>
      </span>
      <span style="float:left">
        <%= form.label :gender, 'Female: ' %>
      </span>
      <span style="display:block">
        <%= form.radio_button :gender, 1 %>
      </span>
      <span style="float:left">
        <%= form.label :gender, 'Non-Binary:' %>
      </span>
      <span style="display:block">
        <%= form.radio_button :gender, 2 %>
      </span>
    </div>
  </div>

  <div class="field">
    <strong><%= form.label :preference %></strong>
    <div class="radio" style="margin:1em">
      <span style="float:left">
        <%= form.label :preference, 'Male:'%>
      </span>
      <span style="display:block">
        <%= form.radio_button :preference, 0 %>
      </span>
      <span style="float:left">
        <%= form.label :preference, 'Female:'%>
      </span>
      <span style="display:block">
        <%= form.radio_button :preference, 1 %>
      </span>
      <span style="float:left">
        <%= form.label :preference, 'Everyone:' %>
      </span>
      <span style="display:block">
        <%= form.radio_button :preference, 2 %>
      </span>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
