<div class="profile" profile_id=<%=profile.id%>>
  <div class="center">
      <h3><%= profile.first %></h3>
      <%= image_tag(profile.getPicture(), :class => "profile_pic") %>
  </div>
  <p>
    Age: <%= profile.age %><br>
    Song: <%= profile.song %>
  </p>
  <p>
    <%= profile.description %>
  </p>
</div>
