<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<% if @match_status.present? %>
  <%= @match_status %>
<% end %>

<p>
  Find a match for: <strong><%= @target_profile.first %></strong><br>
  <div class="profile_pic">
    <%= image_tag(@target_profile.getPicture()) %><br>
  </div>
  Age: <%= @target_profile.age %><br>
  song: <%= @target_profile.song %><br>
  <%= @target_profile.description %>
</p>

<%= render 'matches/form', match: Match.new %>
<button onclick="window.location.href = '/profiles';">Match someone else</button>

<div class="profiles_grid">
  <% @profiles.each do |profile| %>
    <div class="profile" profile_id=<%=profile.id%>>
      <div class="center">
          <br>
          <h3><%= profile.first %></h3>
          <%= image_tag(profile.getPicture()) %>
      </div>
      <p>
        Age: <%= profile.age %><br>
        Song: <%= profile.song %>
      </p>
      <p>
        <%= profile.description %>
      </p>
    </div>
  <% end %>
</div>

<script src="/assets/make_matches.js" type="text/javascript"></script>
