<!DOCTYPE html>
<html>
  <head>
    <title>MixNMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'icon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "top_left">
          <%= image_tag("logo.png", :alt => "Mix n' Match", :class=> "logo") %>
    </div>
    <br />
  <div id="user_nav" class="navigation_bar">
  <% if current_user %>
    <!-- User is logged in:  -->
    <div class="user_menu">
        <h4>Logged in as <%= current_user[:email] %></h4>
        <div class="dropdown">
          <button onclick="populateDrop()" class="dropbtn">Menu</button>
          <div id="droplist" class="dropdown-content">
            <%= link_to "Make Matches", profiles_path %>
            <%= link_to "Leaderboard", users_path %>
            <%= link_to "My Matches", matches_path %>
            <%= link_to "My Account", current_user %>
            <%= link_to "Log out", log_out_path %>
          </div>
        </div>
    </div>

    <script type="text/javascript">
      function populateDrop() {
        document.getElementById("droplist").classList.toggle("show");
      }

      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
    </script>
  <% else %>
    <!-- User is not logged in. -->
    <div style="float: right">
      <%= link_to "Sign up", sign_up_path %> or
      <%= link_to "log in", log_in_path %>
    </div>
  <% end %>
</div>
<div class="banner">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  <%= yield %>
</div>
</body>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>2019 Mix N' Match

                  | Coded by: Vincent, Michael, and Griffin
          </p>
        </div>
      </div>
    </div>
  </footer>
</html>
