<p id="notice"><%= notice %></p>

<div>
    <% if current_user %>
        <h2> Your Account </h2>
        <p>
            <strong>Email:</strong>
            <%= current_user[:email] %>
        </p>
        <% if profile %>

            <h3> Your Profile </h3>

			<p>
              <%= puts(@profile.getPicture()) %>
			  <%= image_tag(@profile.getPicture()) %>
			</p>

            <p>
                <strong>Description: </strong>
                <%= @profile[:description] %>
            <p>
            <p>
                <strong>Song: </strong>
                <%= @profile[:song] %>
            <p>
            <p>
                <strong>Preference: </strong>
                <%= Profile.preferenceMap(@profile.preference) %>
            </p>
            <p>
                <strong>Gender: </strong>
                <%= Profile.genderMap(@profile.gender) %>
            </p>
            <p>
                <strong>Value: </strong>
                <%= @profile[:value] %>
            <p>
            <p>
                <strong>Priority: </strong>
                <%= @profile[:priority] %>
            <p>

            <%= link_to 'Edit', edit_profile_path(@profile) %>
        <% else %>
            <p> Create a profile here: </p>
            <%= link_to 'New', new_profile_path %>
        <% end %>


    <% end %>
</div>
