<p id="notice"><%= notice %></p>

<h1>Your Matches</h1>
we should update this to use the same profile format as the profiles index<br><br><br>
<table>
  <thead>
    <tr>
      <!--<th>ID</th>-->
      <th>#</th>
      <th>profile</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <!-- show matches that have been double accepted here -->
  <!-- when an accepted match is viewed, show their contact info -->
  <!-- we should have a feild in profile for a message to show successful matches -->
  <!-- message with contact info of their choice, not necessarily their email -->

  <!-- show matches that current_user has not made a decision about -->
  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <!--<td><%= match.id %></td>-->
        <td><%= match.user_matches.count %></td>
        <%if match.profile2.id == @your_profile.id%>
          <td><%= match.profile1.first %></td>
          <td><%= Match.statusMap(match.status2) %></td>
        <%else%>
          <td><%= match.profile2.first %></td>
          <td><%= Match.statusMap(match.status1) %></td>
        <%end%>
        <td><%= link_to 'Show Match Info', match %></td>
      </tr>
    <% end %>
  </tbody>
</table>
