<h1>View Your Match</h1>

<div>
    <% if @inValid %>
        <h2> cannot access this page. </h2>
    <% else %>
        <p>
            <strong> match status: </strong>
            <%= Match.statusMap(@match[:status]) %>
        </p>

        <p>
            <h3> <%= @otherProfile.first %>'s Profile </h4>
            <p>
                <strong>Name:</strong>
                <%= @otherProfile.fullName() %>
            </p>
            <p>
                <strong>Description: </strong>
                <%= @otherProfile[:description] %>
            </p>
            <p>
                <strong>Song: </strong>
                <%= @otherProfile[:song] %>
            </p>
            <p>
                <strong>Preference: </strong>
                <%= Profile.preferenceMap(@otherProfile.preference) %>
            </p>
            <p>
                <strong>Gender: </strong>
                <%= Profile.genderMap(@otherProfile.gender) %>
            </p>
            <p>
                <strong>Value: </strong>
                <%= @otherProfile[:value] %>
            </p>
            <p>
                <strong>Priority: </strong>
                <%= @otherProfile[:priority] %>
            </p>
        </p>
        <%if @otherProfile.id == @match.profile2.id%>
            <%= link_to 'Accept Match', matches_update_status_path(:match => {:id => @match.id, :status1 => 1}), class:"button is-danger", remote: false %>
            <%= link_to 'Reject Match', matches_update_status_path(:match => {:id => @match.id, :status1 => 2}), class:"button is-danger", remote: false %>
        <%else%>
            <%= link_to 'Accept Match', matches_update_status_path(:match => {:id => @match.id, :status2 => 1}), class:"button is-danger", remote: false %>
            <%= link_to 'Reject Match', matches_update_status_path(:match => {:id => @match.id, :status2 => 2}), class:"button is-danger", remote: false %>
        <%end%>

    <% end %>



</div>

<%= link_to 'Back', matches_path %>
