<head>
	<style type="text/css">
	.logo {
		opacity: 0;
	}
    .banner {
    	padding: 5% 0px 9% 0px;
    }
	</style>
</head>

<body>
    <div class="login">
      <h1>Log In </h1>
      <%= form_tag sessions_path do %>
        <p>
          <%= label_tag :email %><br />
          <%= text_field_tag :email, params[:email] %>
        </p>
        <p>
          <%= label_tag :password %><br />
          <%= password_field_tag :password %>
        </p>
        <p class="button"><%= submit_tag "Log in" %></p>
        <%= link_to "Create an account", sign_up_path %>
      <% end %>
    </div>
    <div class="home_container">
      <div class="logo_border">
          <%= image_tag("logo.png", :alt => "Mix n' Match", :class=> "home_logo") %>
      </div>
    </div>

</body>
